*,::before,::after{
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing:border-box;
}
body {
    color:#000;
    font-family:"Microsoft YaHei",sans-serif;
    font-size:14px;
}
img {
    vertical-align:middle;
}
a {
    text-decoration:none;
}
ul {
    list-style:none;
}
input,textarea {
    outline:none;
    resize:none;
    border:0;
}
[class^='icon_'] {
    background:url(../images/sprites.png) no-repeat;
    background-size:200px 200px;
}
.clearfix::before,.clearfix::after{
    content:'';
    display:table;
    clear:both;
}