*,::before,::after{
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing:border-box;
}
body {
    color:#000;
    font-family:"Microsoft YaHei",sans-serif;
    font-size:14px;
}
img {
    vertical-align:middle;
}
a {
    text-decoration:none;
}
ul {
    list-style:none;
}
input,textarea {
    outline:none;
    resize:none;
    border:0;
}
[class^='icon_'] {
    background:url(../images/sprites.png) no-repeat;
    background-size:200px 200px;
}
.clearfix::before,.clearfix::after{
    content:'';
    display:table;
    clear:both;
}


/*底部*/
.foolterbar {
    position:fixed;
    bottom:-1px;
    left:0;
    height:44px;
    background:url(../images/header-bg.png) repeat-x 0 0;
    background-size:1px 43px;
    width:100%;
    border-top:1px solid #ccc;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.foolterbar a{
    flex:1;
    display:inline-block;
    line-height:43px;
    text-align:center;
}